<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DeviceManage.IOSDriverManager"/>
      <class name="TC_Login_Phone.TC1_LoginBerhasil"/>
      <class name="TC_Login_Phone.TC_Register_phone"/>
      <class name="DeviceManage.Session"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
